a { color:#333}
body,html{
margin: 0;
padding: 0;
font-family: sans-serif;
width: 100%;
height: 100%;

}

.section
{
width: 100%;
height: 100%;
overflow: hidden;
position: relative;
background-image: url(image6.jpg);
background-repeat: no-repeat;
background-size: cover;
animation: slide 10s infinite;
}
.content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    text-align: center;

}

.content h1{
    color :white;
    font-size :60px;
    letter-spacing:16px;
    }
    .content a{
    background: black;
    padding:10px 20px;
    color: white;
    text-decoration: none;
    font-size:25px;
     border-radius:20px; 
    }
    p{
    font-size: 20px;
    padding: 10px;
    line-height: 24px;
    } 
    @keyframes slide{
    0%{
    background-image: url(image6.jpg)
    }
    50%{
    background-image: url(image1.jpg)
    }
}
 .social{
        position: absolute;
        top: 80;
        right: 80;
        display: inline-flex;
        
    }
    .social .icon{
        margin: 0px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        cursor: pointer;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    }
    .social .icon a{
        position: relative;
       
        height: 60px;
        width: 60px;
        display: block;
        text-align: center;
        background:#fff ;
        border-radius: 50%;
        z-index: 2;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

  
    .social .icon a i{
font-size: 25px;
line-height: 60px;
    }
.social .icon:hover a {

        color: #fff;
            }

    .social .icon .tooltip{
        position: absolute;
        top: 0px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        background:#fff ;
        color: white;
        font-size: 20px;
        padding: 10px 18px;
        border-radius: 25px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    }
    .social .icon:hover .tooltip{
        top: -70px;
        opacity: 1;
        pointer-events: auto;
    }

    .social .icon .tooltip::before{
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background: white;
        bottom: -8px;
        left: 50%; 
        transform: translateX(-50%) rotate(45deg);

    }
    .social .icon:hover a,
    .social .icon:hover .tooltip{

         text-shadow:  0px -1px 0px rgba(0, 0, 0, 0.4);
    }

    .social .facebook:hover a,
    .social .facebook:hover .tooltip,
    .social .facebook:hover .tooltip:before {
    background: #3B5999;
    }
    .social .twitter:hover a,
    .social .twitter:hover .tooltip,
    .social .twitter:hover .tooltip:before {
    background: #46C1F6;
    }
    .social .instagram:hover a,
    .social .instagram:hover .tooltip,
    .social .instagram:hover .tooltip:before {
    background: #e1306c;
    }
    .social .github:hover a,
    .social .github:hover .tooltip,
    .social .github:hover .tooltip:before {
    background: #333;
    }
    .social .youtube:hover a,
    .social .youtube:hover .tooltip,
    .social .youtube:hover .tooltip:before {
    background: #DE463B;
    }

